<html>

<head>
  <meta http-equiv="Content-Language" content="en-us">
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title> {{ release.version }} release notes</title>
  {% include 'base.html' %}
  <style>
    body {
      margin: 50px 20px 50px 20px
    }
  </style>
</head>

<body>
  {% load extras %}
  {{ release.release_notes|markdownify|safe }}

  {% if release.extra_notes %}
    {{ "## Other notes"|markdownify|safe }}
    <ul>
      {% for note in release.extra_notes|split:';' %}
      <li>
        {{ note|markdownify|safe }}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
</body>

</html>
